*{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 
.body{
background: radial-gradient(aqua,aqua,blue)no-repeat;
} */

.header{
    /* background: radial-gradient(violet,pink,purple)no-repeat; */
    padding: 0;
    margin: 0;
    border: 0;
}

.hpb{
    
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: medium;
    padding: 1%;
    margin: 2%;
    border-radius: 25%;
}

button{
    text-align: center;
    font-size: medium;
    padding: 1%;
    margin: 2%;
    border-radius: 25%;
}

#subscribe{
    background-color: red;
}

#contact{
    background-color: green;
}

#help{
    background-color: rgb(80, 6, 80);
}

#support{
    background-color: blue;
}

#home{
    background-color: crimson;
}

#donate{
    background-color: blueviolet;
}

#upload{
    background-color: tomato;
}